<div class="row w-75 m-auto border border-dark my-4 bgg">
    <div class="col-md-4 my-4" *ngFor="let note of Notes">
        <div class="card mb-4" >
            <div class="card-body">
                <h5 class="card-title">Title: {{note.title}}</h5>
                <p class="card-text">Description: {{note.description}}</p>
                <p class="card-text">Tag: {{note.tag}}</p>
            </div>
            <span class="w-75 m-auto text-center">
                <button class="btn btn-success m-2" (click)="getId(note)">Update</button>                
                <button class="btn btn-danger  m-2" (click)="deleteForm(note._id)">Delete</button>
            </span>
        </div>
    </div>
</div>

<form class="w-50 m-auto border border-primary rounded p-4" #LoginForm="ngForm" (ngSubmit)="updateForm(LoginForm.value)" *ngIf="formVisibility">
    <div class="form-group mt-2">
        <label for="title">Title:</label>
        <input id="title" class="form-control" type="text" [(ngModel)]="selectedNote.title" name="title">
    </div>
    <div class="form-group mt-2">
        <label for="description">Description:</label>
        <input id="description" class="form-control" type="text" [(ngModel)]="selectedNote.description" name="description">
    </div>
    <div class="form-group mt-2">
        <label for="tag">Tag:</label>
        <input id="tag" class="form-control" type="text" [(ngModel)]="selectedNote.tag" name="tag">
    </div>
    <div class=" w-75 text-center m-4 p-2 ">
        <button class="btn btn-success mx-2" type="submit">Save</button>
        <button class="btn btn-danger mx-2" type="button" (click)="closeForm()">Close</button>
    </div>
</form>


